<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Farmacia_Matute.Properties.Settings._FARMACIA_MATUTE_BDConnectionString"
            connectionString="Data Source=DESKTOP-TEIMUN7\SQLEXPRESS;Initial Catalog=_FARMACIA_MATUTE_BD;Persist Security Info=True;User ID=sa;Password=wall"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>